<div class="{{grid}}">
    <div class="input-field">
        <input id="{% firstof id_ name_ %}" name="{{name_}}" type="{{type_|default:'text'}}" 
        {% if data_.errors %}
            class="validate invalid {{class_}}" 
        {% else %} 
            class="validate {{class_}}" 
        {% endif %}
            value="{{ data_.value|default_if_none:'' }}">

        <label for="{{name_}}">{{label}}</label>
        <span class="helper-text color-sec-2" data-error="{{data_.errors|first}}"></span>
    </div>
</div>