{% extends 'base/base.html'%}

{% load static %}

{% block main %}
<div class="section">
    <div class="row">

        {% if n_quest %}
        <div class="col s12 center color-sec-1">
            <p>
            Você tem {{n_quest}} questionário{{n_quest|pluralize}} para responder!
            </p>
            <!--Você poderá receber oportunidades depois de respondê-lo{{n_quest|pluralize}}.-->
        </div>
        {% endif %}

        <!-- Título página -->
        <div class="col s12">
            <h1 class="titulo-pagina">Currículo</h1>
        </div>

        <!-- Nome Completo e Idade-->
        <div class="col s12 curriculo-destaque">
            <h4 class="color-prim-1">{{egresso.dados.nome_completo|default:'[Nome completo não fornecido]'}}</h4>
            <div class="color-prim-2">{{egresso.dados.idade|default:'[Idade não fornecida]'}}
                {% if egresso.dados.idade %}Anos{% endif %}</div>
        </div>

        <!-- Links de perfis em outros sites -->
        {% if egresso.link_linkedin %}
        <div class="link-curriculo col s12">
            <a href="{{egresso.link_linkedin}}" class="waves-effect waves-teal btn-flat" target="_blank">
                <i class="material-icons left"><img src="{% static 'img/icon-linkedin.svg' %}"></img></i>
                LinkedIn
            </a>
        </div>
        {% endif %}

        {% if egresso.link_lattes %}
        <div class="link-curriculo col s12">
            <a href="{{egresso.link_lattes}}" class="waves-effect waves-teal btn-flat" target="_blank">
                <i class="material-icons left"><img src="{% static 'img/icon-lattes.png' %}"></img></i>
                Lattes
            </a>
        </div>
        {% endif %}

        {% if egresso.link_github %}
        <div class="link-curriculo col s12">
            <a href="{{egresso.link_github}}" class="waves-effect waves-teal btn-flat" target="_blank">
                <i class="material-icons left"><img src="{% static 'img/icon-github.svg' %}"></img></i>
                Github
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <!-- Dados Pessoais -->
        <div class="subtitulo-form col s12">
            <h3>Dados Pessoais</h3>
            <hr>
        </div>

        {% with e=egresso.dados comp='componentes/label_curriculo.html'%}

        {% include comp with grid='col m6 s12' esp=4 label='Nome' info=e.nome_completo%}
        {% include comp with grid='col m6 s12' esp=4 label='Data Nascimento' info=e.data_nascimento%}

        {% include comp with grid='col m6 s12' esp=4 label='Carteira Motorista' info=e.carteira_motorista%}
        {% include comp with grid='col m6 s12' esp=4 label='Celular' info=e.celular%}

        {% include comp with grid='col m6 s12' esp=4 label='CPF' info=e.cpf%}
        {% include comp with grid='col m6 s12' esp=4 label='Indentidade' info=e.identidade%}

        {% include comp with grid='col m6 s12' esp=4 label='Genero' info=e.genero%}
        {% include comp with grid='col m6 s12' esp=4 label='Estado Civil' info=e.estado_civil%}

        {% include comp with grid='col m6 s12' esp=4 label='Escolaridade da Mãe' info=e.escolaridade_mae%}
        {% include comp with grid='col m6 s12' esp=4 label='Escolaridade do Pai' info=e.escolaridade_pai%}
        
        {% endwith %}
    
        {% if modo_edicao %}
        <div class="col s12">
            <a href="{% url 'egresso:dados-pessoais' %}" class="btn waves-effect waves-light right">
                <i class="material-icons left">edit</i> Editar
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row">
            <!-- Endereço -->
            <div class="subtitulo-form col s12">
                <h3>Endereço Atual</h3>
                <hr>
            </div>

        {% with e=egresso.endereco comp='componentes/label_curriculo.html'%}

        <div class="row" style="margin-bottom: -4px">
        {% include comp with grid='col s6' esp=3 label='Cep' info=e.cep%}
        </div>
        
        {% include comp with grid='col m6 s12' esp=3 label='Rua' info=e.rua%}
        {% include comp with grid='col m6 s12' esp=3 label='Nº' info=e.numero%}

        {% include comp with grid='col m6 s12' esp=3 label='Bairro' info=e.bairro%}
        {% include comp with grid='col m6 s12' esp=3 label='Complemento' info=e.complemento%}

        {% include comp with grid='col m6 s12' esp=3 label='Cidade' info=e.cidade%}
        {% include comp with grid='col m6 s12' esp=3 label='Estado' info=e.estado|upper%}
        
        {% endwith %}

            {% if modo_edicao %}
            <div class="col s12">
                <a href="{% url 'egresso:endereco' %}" class="btn waves-effect waves-light right">
                    <i class="material-icons left">edit</i> Editar
                </a>
            </div>
            {% endif %}            
    </div>

    <div class="row">
        <!-- Formação Acadêmica -->
        <div class="subtitulo-form col s12">
            <h3>Formação Acadêmica</h3>
            <hr>
        </div>

        <div class="row">
            <div class="s12">
                <table class="striped centered">
                    <thead>
                        <th>Nível</th>
                        <th>Curso</th>
                        <th>Início</th>
                        <th>Término</th>
                        {% if modo_edicao %}
                        <th></th>
                        {% endif %}
                    </thead>
                    <tbody>

                        {% for f in formacoes_escolares%}
                        <tr>
                            <td>{{f.curso.nivel_curso.descricao}}</td>
                            <td>{{f.curso.nome}}</td>
                            <td>{{f.ano_inicio}}</td>
                            <td>{{f.ano_termino}}</td>
                            {% if modo_edicao and not f.curso.is_local%}
                            <td>
                                <a data-confirm="Are you sure?" data-method="delete"
                                    href="{% url 'egresso:excluir-formacao' f.id %}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col s12">
            <a id="add-formacao" class="waves-effect waves-light btn modal-trigger right" 
                href="{% url 'egresso:add-formacao'%}">
                <i class="material-icons left">add_box</i> Adicionar
            </a>
        </div>
    </div>

    {{ egresso|json_script:"dados-egresso" }}
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

        /* Se o usuário ainda não cadastrou os dados básicos e tentar adicionar
        formação acadêmica exibe uma mensagem.*/
        let egresso = JSON.parse($('#dados-egresso').text())
        let mensagem = $('#mensagem');

        $('#add-formacao').on('click', function(e){
            if( $.isEmptyObject(egresso) ){
                e.preventDefault()
                e.stopPropagation()

                exibirMensagem({
                    titulo: 'Atenção',
                    descricao: 'Você deve fornecer seus dados básicos primeiro.',
                    buttons: [{
                        text: 'Adicionar Agora',
                        href:"{% url 'egresso:dados-pessoais' %}",
                    },{
                        text: 'Ok'
                    }]
                })
            }else{
                abrirModalFormacao()
            }
        });
    });
</script>
{% endblock %}