{% extends 'base/base.html'%}

{% block main %}
<div class="section">
    <form action="{% url 'egresso:editar-curriculo' %}" method="POST">
        {% csrf_token %}

        <div class="row">

            <!-- Título página -->
            <div class="col s12">
                <h1 class="titulo-pagina">Editar Currículo</h1>
            </div>

             <!-- Mensagens de erro -->
             <div class="col s12 color-sec-1">
                {% if form.errors %}
                Algum campo obrigatório não foi fornecido ou está com valor inválido.<br>
                {% endif %}
                {% for error in form.non_field_errors %}
                {{error}}<br>
                {% endfor %}
            </div>

            <!--Subtítulo Dados Pessoais -->
            <div class="subtitulo-form col s12">
                <h3>Dados Pessoais</h3>
                <hr>
            </div>

            <div class="row">
                <input type="hidden" name="id" value="{{form.id.value}}">

                <!-- Matrícula -->
                <div class="input-field col s12 m4">
                    <input id="matricula" name="matricula" type="text"
                    {% if form.matricula.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.matricula.value|default_if_none:'' }}">

                    <label for="matricula">Matrícula</label>
                    <span class="helper-text color-sec-2" data-error="{{form.matricula.errors|first}}">
                    </span>
                </div>

                <!-- Nome Completo -->
                <div class="input-field col s12 m8">

                    <input id="nome_completo" name="nome_completo" type="text" 
                    {% if form.nome_completo.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.nome_completo.value|default_if_none:'' }}">

                    <label for="nome_completo">Nome Completo</label>
                    <span class="helper-text color-sec-2" data-error="{{form.nome_completo.errors|first}}"></span>
                </div>
            </div>

            <div class="row">
                <!-- Data Nascimento -->
                <div class="input-field col s12 m4">
                    <input id="data_nascimento" name="data_nascimento" type="text" 
                    {% if form.data_nascimento.errors %}
                        class="datepicker validate invalid" 
                    {% else %} 
                        class="datepicker validate" 
                    {% endif %}
                        value="{{ form.data_nascimento.value|date:'d/m/Y'}}">

                    <label for="data_nascimento">Data de Nascimento</label>
                    <span class="helper-text color-sec-2" data-error="{{form.data_nascimento.errors|first}}">
                    </span>
                </div>
            </div>

            <div class="row">
                <!-- CPF -->
                <div class="input-field col s12 m6">
                    <input id="cpf" name="cpf" type="text" 
                    {% if form.cpf.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                    value="{{ form.cpf.value|default_if_none:'' }}">

                    <label for="cpf">CPF</label>
                    <span class="helper-text color-sec-2" data-error="{{form.cpf.errors|first}}">
                    </span>
                </div>

                <!-- Doc Identidade -->
                <div class="input-field col s12 m6">
                    <input id="identidade" name="identidade" type="text"
                    {% if form.identidade.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.identidade.value|default_if_none:'' }}">

                    <label for="identidade">Nº de Indentidade</label>
                    <span class="helper-text color-sec-2" data-error="{{form.identidade.errors|first}}">
                    </span>
                </div>
            </div>



            <!--Subtítulo Endereço Atual -->
            <div class="subtitulo-form col s12">
                <h3>Endereço Atual</h3>
                <hr>
            </div>

            <div class="row">
                <!-- CEP -->
                <div class="input-field col s12 m4">
                    <input id="cep" name="cep" type="text" 
                    {% if form.cep.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.cep.value|default_if_none:'' }}">

                    <label for="cep">CEP</label>
                    <span class="helper-text color-sec-2" data-error="{{form.cep.errors|first}}">
                    </span>
                </div>
            </div>

            <div class="row">
                <!-- Rua -->
                <div class="input-field col s12 m8">
                    <input id="rua" name="rua" type="text" 
                    {% if form.rua.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.rua.value|default_if_none:'' }}">

                    <label for="rua">Rua</label>
                    <span class="helper-text color-sec-2" data-error="{{form.rua.errors|first}}">
                    </span>
                </div>

                <!-- Número -->
                <div class="input-field col s12 m4">
                    <input id="numero" name="numero" type="text"
                    {% if form.numero.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.numero.value|default_if_none:'' }}">

                    <label for="numero">Número</label>
                    <span class="helper-text color-sec-2" data-error="{{form.numero.errors|first}}">
                    </span>
                </div>
            </div>

            <div class="row">
                <!-- Bairro -->
                <div class="input-field col s12 m6">
                    <input id="bairro" name="bairro" type="text" 
                    {% if form.bairro.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                    value="{{ form.bairro.value|default_if_none:'' }}">

                    <label for="bairro">Bairro</label>
                    <span class="helper-text color-sec-2" data-error="{{form.bairro.errors|first}}">
                    </span>
                </div>
            </div>

            <div class="row">
                <!-- Cidade -->
                <div class="input-field col s12 m8">
                    <input id="cidade" name="cidade" type="text" 
                    {% if form.cidade.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                    value="{{ form.cidade.value|default_if_none:'' }}">

                    <label for="cidade">Cidade</label>
                    <span class="helper-text color-sec-2" data-error="{{form.cidade.errors|first}}">
                    </span>
                </div>

                <!-- Estado -->
                <div class="input-field col s12 m4">
                    <input id="estado" name="estado" type="text" 
                    {% if form.estado.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                    value="{{ form.estado.value|default_if_none:'' }}">

                    <label for="estado">Estado</label>
                    <span class="helper-text color-sec-2" data-error="{{form.estado.errors|first}}">
                    </span>
                </div>
            </div>

            <!--Subtítulo Outros -->
            <div class="subtitulo-form col s12">
                <h3>Outros</h3>
                <hr>
            </div>

            <div class="row">
                <!-- Link do LinkedIn -->
                <div class="input-field col s12 m6">
                    <input id="link_likedin" name="link_likedin" type="text"
                    {% if form.link_likedin.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.link_likedin.value|default_if_none:'' }}">

                    <label for="link_likedin">Link do Likedin</label>
                    <span class="helper-text color-sec-2" data-error="{{form.link_likedin.errors|first}}">
                    </span>
                </div>
            </div>

            <div class="row">
                <!-- Link do Currículo Lattes -->
                <div class="input-field col s12 m6">
                    <input id="link_lattes" name="link_lattes" type="text"
                    {% if form.link_lattes.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.link_lattes.value|default_if_none:'' }}">

                    <label for="link_lattes">Link do Lattes</label>
                    <span class="helper-text color-sec-2" data-error="{{form.link_lattes.errors|first}}">
                    </span>
                </div>
            </div>

            <div class="row">
                <!-- Link do Github -->
                <div class="input-field col s12 m6">
                    <input id="link_github" name="link_github" type="text"
                    {% if form.link_github.errors %}
                        class="validate invalid" 
                    {% else %} 
                        class="validate" 
                    {% endif %}
                        value="{{ form.link_github.value|default_if_none:'' }}">

                    <label for="link_github">Link do Github</label>
                    <span class="helper-text color-sec-2" data-error="{{form.link_github.errors|first}}">
                    </span>
                </div>
            </div>

            <div class="col s12">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Salvar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %} 
<script>
    
</script>
{% endblock %}