{% extends 'base/base.html'%}
{% load custom_tags %}

{% block main %}
<div class="section">
        <div class="row">
            <!-- Título página -->
            <div class="col s12">
                <h1 class="titulo-pagina">Formação Escolar</h1>
            </div>

            <!-- Mensagens de erro -->
            <div class="col s12 color-sec-1">
                {% if form.errors %}
                Algum campo obrigatório não foi fornecido ou está com valor inválido.<br>
                {% endif %}
            </div>

            <!--Subtítulo Detalhes Oportunidade -->
            <div class="subtitulo-form col s12">
                <hr>
            </div>

            <form action="{% url 'egresso:add-formacao' %}" method="POST" class="row">
                {% csrf_token %}
                <input type="hidden" name="egresso_id" value="{{egresso.id}}">
                <input type="checkbox" name="egresso_id" value="{{egresso.id}}">

                <div id="tabs-add-formacao" class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6"><a href="#curso-externo">Curso Externo</a></li>
                        <li class="tab col s6"><a href="#curso-local">Curso Local</a></li>
                    </ul>
                </div>


                {{ form.tipo_curso.value|json_script:"tipo_curso" }}

                <div id="curso-local">
                    <input type="hidden" name="tipo_curso" value="curso-local">
                    <div class="row">
                        <!-- Curso -->
                        {% with opcoes_select='curso.curso'|values|get_opcoes_select:'id:nome'%}
                        {% with grid='col s12 m6'%}
                        {% with name_='curso_id' label='Curso' data_=form.curso_id %}
                        {% include 'componentes/select.html' with opcoes=opcoes_select %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    </div>
                </div>

                <div id="curso-externo">
                    <input type="hidden" name="tipo_curso" value="curso-externo">
                    <input type="hidden" name="curso_id" value="{{curso_id}}">

                    <!-- Curso -->
                    <div class="row">
                        {% with grid='col s12 m6'%}
                        {% with name_='nome' label='Nome do Curso' data_=form.nome%}
                        {% include 'componentes/input.html' %}
                        {% endwith %}
                        {% endwith %}
                    </div>

                    <!-- Nível -->
                    {% with grid='col s12 m6'%}
                    {% with name_='nivel_curso_id' label='Nível do Curso' data_=form.nivel_curso_id %}
                    {% with opcoes_select='curso.nivelcurso'|values|get_opcoes_select:'id:descricao' %}
                    {% include 'componentes/select.html' with opcoes=opcoes_select%}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}

                    <!-- Área -->
                    {% with grid='col s12 m6'%}
                    {% with name_='area_atuacao_id' label='Área' data_=form.area_atuacao_id %}
                    {% with opcoes_select='curso.areaatuacao'|values|get_opcoes_select:'id:descricao' %}
                    {% include 'componentes/select.html' with opcoes=opcoes_select%}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </div>

                <!-- Início do Curso -->
                {% with grid='col s12 m6'%}
                {% with name_='ano_inicio' type_='number' label='Início' data_=form.ano_inicio %}
                {% include 'componentes/input.html' %}
                {% endwith %}
                {% endwith %}

                <!-- Término do Curso -->
                {% with grid='col s12 m6'%}
                {% with name_='ano_termino' type_='number' label='Término' data_=form.ano_termino %}
                {% include 'componentes/input.html' %}
                {% endwith %}
                {% endwith %}

                <div class="col s12 buttons-action">
                    <div class="right">
                        <a href="{% url 'egresso:meu-curriculo' %}" class="btn waves-effect waves-light">Cancelar</a>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar</button>
                    </div>
                </div>'

        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(() => {
        let tipo_curso = JSON.parse($('#tipo_curso').text())
        let curso_externo = $('#curso-externo')
        let curso_externo_child = curso_externo.children()
        let curso_local = $('#curso-local')
        let curso_local_child = curso_local.children()
        
        let tabs = $('.tabs').tabs({
            onShow: function(element){
                if(element.id === 'curso-externo'){
                    curso_local.empty()
                    curso_externo.prepend(curso_externo_child)
                    console.log('EXTERNO')
                }else{
                    curso_externo.empty()
                    curso_local.prepend(curso_local_child)
                    console.log('LOCAL')
                }
            }
        })

        console.log(tipo_curso)
        tabs.select(tipo_curso)
    })
</script>
{% endblock %}