{% extends 'base/base.html'%}

{% load static %}

{% block main %}
<div class="section">

    <div class="row">

        <!-- Título página -->
        <div class="col s12">
            <h1 class="titulo-pagina">Oportunidades</h1>
        </div>

        <div class="subtitulo-form col s12">
            <hr>
        </div>

        <div class="row">
            <ul>
                <li class="col s12">
                    {% for o in oportunidades %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title color-sec-2">{{o.titulo}}</span>
                            <div class="grey-text">{{o.tipo}}</div>
                            <div class="grey-text">{{o.horas_semana}}Hrs/Semana</div>
                            <div class="grey-text">{{o.nivel_formacao}} - {{o.curso_necessario}}</div>
                            <div class="grey-text">{{o.cidade}} - {{o.estado}}</div>
                        </div>
                        <div class="card-action">
                            <a href="#">Demonstrar Interesse</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="center">Nenhuma oportunidade encontrada.</div>
                    {% endfor %}
                </li>
            </ul>
        </div>

    </div>

    {{ egresso|json_script:"dados-egresso" }}
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        let egresso = JSON.parse( $('#dados-egresso').text() );

        /* Exibe a mensagem se o usuário ainda não cadastrou os dados básicos.*/
        if( $.isEmptyObject(egresso) )
            exibirMensagem({
                titulo: 'Atenção',
                descricao: 'Você deve fornecer seus dados básicos primeiro. <br>'+
                'Após isso você poderá ver oportunidades direcionadas ao seu perfil.',
                buttons: [{
                    text: 'Adicionar Agora',
                    href:"{% url 'egresso:editar-curriculo' %}",
                },{
                    text: 'Ok',
                    href: '#'
                }]
            })
    });

</script>
{% endblock %}