{% extends 'base/base.html'%}

{% load custom_tags %}

{% block main %}
<section class="section">
    <!-- Título página -->
    {% include 'componentes/titulo.html' with label='Questionários'%}

    {% for f in formacoes%}
        {% include 'componentes/subtitulo.html' with label=f.curso.nome%}
        <label>{{f.ano_inicio}} - {{f.ano_termino}}</label> <br> <br>
        <!-- Questionários -->
        <div class="row">
        {% for q in 'questionario.questionario'|values %}
    

        <!-- Card Questionário-->
        {% with grid='col m3 s12'%}
        {% with formacao=f questionario=q %}
        {% include 'componentes/card_questionario.html' %}
        {% endwith %}
        {% endwith %}        

        {% endfor %}
        </div>
    {% endfor %}

</section>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}