{% extends 'base/base.html'%}

{% load custom_tags %}

{% block main %}
<section class="section">
    <!-- Título página -->
    {% include 'componentes/titulo.html' with label='Questionários'%}

    {% for f in formacoes%}
        {% include 'componentes/subtitulo.html' with label=f.curso.nome%}

        <div class="row">
        {% now "Y" as current_year %}
        {% with grid='col m4 s12'%}
        {% with anos=5 curso_id=f.id anos_corridos=current_year|subtract:f.ano_termino%}
        {% include 'componentes/card_questionario.html' %}
        {% endwith %}
        {% endwith %}

        {% with grid='col m4 s12'%}
        {% with anos=10 curso_id=f.id anos_corridos=current_year|subtract:f.ano_termino%}
        {% include 'componentes/card_questionario.html' %}
        {% endwith %}
        {% endwith %}
        </div>
    {% endfor %}

    

</section>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}