{% extends 'base/base.html'%}

{% block main %}
<section class="section">
    <!-- Título página -->
    {% with anos=questionario.anos_corridos|stringformat:'s' %}
    {% include 'componentes/titulo.html' with label='Questionario Após '|add:anos|add:' Anos' %}
    {% endwith %}
    <!-- Mensagens de erro -->
    {% include 'componentes/erros_form.html'%}
    {% include 'componentes/subtitulo.html' with label='Relacionado ao Curso'%}

    <div class="row">
        <div class="col s12">
            <p>{{formacao.curso.nome}}</p>
            <p>{{formacao.ano_inicio}} - {{formacao.ano_termino}}</p>
        </div>
    </div>

    {% include 'componentes/subtitulo.html' with label='Questões'%}
    <form action="{% url 'questionario:responder' questionario.id formacao.id %}" method="POST">
        <div class="questionario row">

            <!-- Pesguntas -->
            {% for questao in questionario.questoes %}
            <div class="card questao col s12">
                <div class="card-content texto">
                    {{questao.pergunta}}
                </div>
                <div class="card-action opcoes-resposta row">
                    <div class="group-radio-button col m4" data-select="{{form.tipo_id.value|default_if_none:''}}">
                        <p>
                            {% for opcao in questao.possiveis_respostas %}
                            <label>
                                <input class="with-gap" name="{{questao.id}}" type="radio" value="{{opcao.resposta}}" />
                                <span>{{opcao.resposta}}</span>
                            </label>
                            {% endfor%}
                        </p>
                    </div>
                    {% if questao.habilitar_opcao_outro == True %}
                        {% with grid='col s12 m9'%}
                        {% with name_='outro_q3' label='Outro Motivo' data_='' %}
                        {% include 'componentes/input.html' %}
                        {% endwith %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
            {% endfor%}

            <!-- Final Perguntas -->

        </div>
    </form>
</section>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}