{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!---->

    <!-- Path to manifest.json -->
    <link rel="manifest" href="/manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="SEGUE">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#43a047">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="SEGUE">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="apple-touch-icon" href="{% static 'icons/icon-152x152.png' %}">

    <link href="{% static 'icons/favicon.ico' %}"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />

    <!-- Tile for Win8 -->
    <meta name="msapplication-TileColor" content="#43a047">
    <meta name="msapplication-TileImage" content="{% static 'icons/favicon.ico' %}">

    <script type="text/javascript">
        // Initialize the service worker
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/serviceworker.js")
                .then(function (registration) {
                    // Registration was successful
                    console.log('django-pwa: ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    // registration failed :(
                    console.log('django-pwa: ServiceWorker registration failed: ', err);
                });
        }
    </script>

    <!---->

    <title>SEGUE</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">

</head>

<body>

    {% include 'base/sidenav.html' %}

    <main>
        <div class="container">
            {% block main %} {% endblock %}
        </div>
        <div id="mensagem" class="modal" ">
                <div class=" modal-content">
            <h4 id="titulo-msg" class="color-sec-2"> </h4>
            <p id="descricao-msg"> </p>
        </div>
        <div id="acoes-msg" class="modal-footer">
        </div>
        </div>
    </main>

    {% include 'base/footer.html' %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/config_ajax.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        var wow = new WOW().init();
    </script>
    <script>
        function criarBotaoMensagem(button) {
            let btn = $('<a href="" class="modal-close waves-effect waves-red btn-flat"> </a>')
            btn.text(button.text)
            btn.attr('href', button.href)
            return btn
        }

        function exibirMensagem(msg) {
            let botoes = []
            msg.buttons.forEach((obj) => {
                botoes.push(criarBotaoMensagem(obj))
            })

            $('#titulo-msg').text(msg.titulo)
            $('#descricao-msg').text(msg.descricao)
            $('#acoes-msg').empty().prepend(botoes)

            let modal = M.Modal.getInstance(document.getElementById('mensagem'));
            console.log(modal)
            modal.open();
        }

        function statusOffline(){
            exibirMensagem({
                    titulo: 'Você está offline',
                    descricao: 'Conecte-se a internet para continuar usando os serviçoes do SEGUE',
                    buttons: [{
                        text: 'Ok',
                        href: '#'
                    }]
            })
        }

        $(document).ready(()=>{
            if(!navigator.onLine)
                statusOffline()

            window.addEventListener('offline', function (e) {
                console.log('offline');
                statusOffline()
            });
        })
    </script>

    {% block script %} {% endblock %}
</body>

</html>