{% extends 'base/base.html'%}

{% load custom_tags %}

{% block main %}
<section class="section">
    <form action="{% url 'oportunidade:add' %}" class="row" method="POST">
        {% csrf_token %}

        <!-- Título página -->
        <div class="col s12">
            <h1 class="titulo-pagina">Oportunidade</h1>
        </div>

        <!-- Mensagens de erro -->
        <div class="col s12 color-sec-1">
            {% if form.errors %}
            Algum campo obrigatório não foi fornecido ou está com valor inválido.<br>
            {% endif %}
        </div>

        <!--Subtítulo Detalhes Oportunidade -->
        <div class="subtitulo-form col s12">
            <h3>Detalhes da Oportunidade</h3>
            <hr>
        </div>

        <div class="row">
            <input type="hidden" name="id" value="{{form.id.value}}">
            <input type="hidden" name="empresa_id" value="{% if form.empresa_id.value %}{{form.empresa_id.value}}{% else %}{{empresa.id}}{% endif %}">

            <!-- Título -->
            {% with grid='col s12 m7'%}
            {% with name_='titulo' label='Título (Descrição)' data_=form.titulo%}
            {% include 'componentes/input.html' %}
            {% endwith %}
            {% endwith %}

            <!-- Tipo de Oportunidade -->
            <div class="col s12">
                <div class="group-radio-button row" data-select="{{form.tipo_id.value|default_if_none:''}}">
                    {% for t in tipos_oportunidade %}
                    <p class="col m3">
                        <label>
                            <input class="with-gap" name="tipo_id" type="radio" value="{{t.id}}"/>
                            <span>{{t.descricao}}</span>
                        </label>
                    </p>
                    {% endfor %}
                </div>
                <span class="helper-text color-sec-2">{{form.tipo_id.errors|first}}</span>
            </div>

            <!-- Horas por Semana -->
            {% with grid='col s12 m4'%}
            {% with name_='horas_semana' label='Horas/semana' data_=form.horas_semana%}
            {% include 'componentes/input.html' %}
            {% endwith %}
            {% endwith %}

            <!-- Nível Formação Necessário-->
            <div class="row">
                <!-- Nível -->
                {% with grid='col s12 m6'%}
                {% with name_='nivel_formacao_id' label='Nível de Formação Exigida' data_=form.nivel_formacao_id %}
                {% with opcoes_select='curso.nivelcurso'|values|get_opcoes_select:'id:descricao' %}
                {% include 'componentes/select.html' with opcoes=opcoes_select%}
                {% endwith %}
                {% endwith %}
                {% endwith %}

                <!-- Curso Necessário -->
                <div class="input-field col s12 m6">
                    <select name="curso_necessario_id" class="validate invalid"
                        data-select="{{form.curso_necessario_id.value|default_if_none:''}}">
                        <option value="" disabled selected>Selecione o curso</option>
                        {% for c in cursos %}
                        <option value="{{c.id}}">{{c.nome}}</option>
                        {% endfor %}
                    </select>
                    <label>Curso Necessário</label>
                    <span class="helper-text color-sec-2">{{form.curso_necessario_id.errors|first}}</span>
                </div>
            </div>

            <!-- Cidade -->
            {% with grid='col s12 m8'%}
            {% with name_='cidade' label='Cidade' data_=form.cidade%}
            {% include 'componentes/input.html' %}
            {% endwith %}
            {% endwith %}

            <!-- Estado -->
            {% with grid='col s12 m4'%}
            {% with name_='estado' label='Estado' data_=form.estado%}
            {% include 'componentes/input.html' %}
            {% endwith %}
            {% endwith %}

            <div class="col s12">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Salvar</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}