{% extends 'base/base.html'%}

{% load custom_tags %}

{% block main %}
<div class="section">
    <form action="{% url 'empresa:editar-dados' %}" class="row" method="POST">
        {% csrf_token %}

         <!-- Título página -->
        {% include 'componentes/titulo.html' with label='Dados da Empresa'%}
        <!-- Mensagens de erro -->
        {% include 'componentes/erros_form.html'%}
        {% include 'componentes/subtitulo.html'%}

        <div class="row">
            <input type="hidden" name="id" value="{{form.id.value}}">
            <input type="hidden" name="user_id" value="{% if form.user_id.value %}{{form.user_id.value}}{% else %}{{user.id}}{% endif%}">
            

            <!-- Razão Social -->
            {% with grid='col s12 m8'%}
            {% with name_='razao_social' label='Razão Social' data_=form.razao_social%}
            {% include 'componentes/input.html' %}
            {% endwith %}
            {% endwith %}

            <!-- CNPJ -->
            {% with grid='col s12 m7'%}
            {% with name_='cnpj' label='CNPJ' data_=form.cnpj%}
            {% include 'componentes/input.html' %}
            {% endwith %}
            {% endwith %}

            <!-- Telefone -->
            {% with grid='col s12 m7'%}
            {% with name_='telefone' label='Telefone' data_=form.telefone%}
            {% include 'componentes/input.html' %}
            {% endwith %}
            {% endwith %}

            <!-- Email -->
            <div class="input-field col s12 m7">
                <input disabled id="email" name="email" type="text"  value="{{ user.email }}">
                <label for="email">Email</label>
                </span>
            </div> 

            <div class="col s12">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Salvar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %} </div>