{% extends 'base/base.html'%}

{% load static %}

{% block main %}
<div class="section">

    <div class="row">
        <input type="hidden" id="info_empresa" value="{{empresa.razao_social}}">

        <!-- Título página -->
        <div class="col s12">
            <h1 class="titulo-pagina">Oportunidades Lançadas</h1>
        </div>

        <div class="subtitulo-form col s12">
            <hr>
        </div>

        <div class="row">
            <ul>
                {% for o in oportunidades %}
                <li>
                    <div class="card col s12">
                        <div id="oport_{{o.id}}" class="card-content">
                            <span class="card-title color-sec-2">{{o.titulo}}</span>
                            <div class="grey-text">{{o.tipo}}</div>
                            <div class="grey-text">{{o.horas_semana}}Hrs/Semana</div>
                            <div class="grey-text">{{o.nivel_formacao}} - {{o.curso_necessario}}</div>
                            <div class="grey-text">{{o.cidade}} - {{o.estado}}</div>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'oportunidade:editar' o.id %}">Editar</a>
                            <a href="{% url 'oportunidade:delete' o.id %}">Excluir</a>
                        </div>
                    </div>

                    <div class="row">
                        <ul class="collection" data-oport="{{o}}">
                            {% for e in o.egressos %}
                            <li class="collection-item avatar">
                                <a href="{% url 'egresso:curriculo' e.id %}">
                                    <i class="material-icons circle">account_circle</i>
                                    <span class="title">{{e.nome_completo}}</span>
                                </a>
                                
                                <p>{{e.idade}} Anos</p>
                                <p>{{e.cidade}} - {{e.estado}}</p>
                                
                                <a href="#!" data-email="{{e.email}}" data-nome="{{e.nome_completo}}" data-oport="oport_{{o.id}}"
                                class="secondary-content send-email"><i class="material-icons">email</i></a>
                            </li>
                            {% empty %}
                            <li class="collection-item center">
                                <p>Até o momento nenhum egresso está apto para esta oportunidade. </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% empty %}
                <li class="col s12">Nenhuma oportunidade foi lançada.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col s12 center">
            <a id="add-oportunidade" href="{% url 'oportunidade:add' %}" class="waves-effect waves-light btn modal-trigger">
                <i class="material-icons left">add_box</i> Nova Oportunidade
            </a>
        </div>

    </div>

</div>

<!-- Modal para edição e Formação Escolar -->
<form action="{% url 'empresa:email_egresso' %}" method="POST">
    {% csrf_token %}

    <div id="send_email" class="modal">
        <div class="modal-content">
            <div class="row">

                <!-- Título do Modal -->
                <div class="col s12">
                    <h5 class="titulo-pagina">Novo Email</h5>
                </div>

                <div class="subtitulo-form col s12">
                    <hr>
                </div>

                <input id="to_email" type="hidden" name="to_email">

                <!-- Assunto Email -->
                <div class="input-field col s12 m8">
                    <input id="assunto_email" type="text" name="assunto">
                    <label>Assunto</label>
                </div>

                <!-- Conteúdo Email -->
                <div class="input-field col s12">
                    <textarea id="msg_email" name="mensagem" class="materialize-textarea">
                    </textarea>
                    <label>Mensagem</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="btn-cancelar" href="{% url 'empresa:oportunidades' %}"
                class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <button type="submit" class="modal-close waves-effect waves-green btn-flat">Enviar</button>
        </div>
    </div>
</form>

{{ empresa |json_script:"dados-empresa" }}

{% endblock %}

{% block script %}
<script>

    $(document).ready(()=>{

        function mensagemDadosFaltantes(){
            exibirMensagem({
                titulo: 'Atenção',
                descricao: 'Você deve fornecer seus dados básicos primeiro.',
                buttons: [{
                    text: 'Adicionar Agora',
                    href:"{% url 'empresa:editar-dados' %}",
                },{
                    text: 'Ok',
                    href: '#'
                }]
            })
        }

        let empresa = JSON.parse( $('#dados-empresa').text() );

        /* Exibe a mensagem se o usuário ainda não cadastrou os dados básicos.*/
        if( $.isEmptyObject(empresa) )
            mensagemDadosFaltantes()

        $('#add-oportunidade').on('click', (e)=>{
            if( $.isEmptyObject(empresa) ){
                e.preventDefault()
                mensagemDadosFaltantes()
            }
        })

        let send_email = $('#send_email')
        $('a.send-email').on('click', (e)=>{
            let elem = $(e.target);
            let email = elem.attr('data-email') || elem.parent().attr('data-email');
            let nome = elem.attr('data-nome') || elem.parent().attr('data-nome');
            let id_oportunidade = elem.attr('data-oport') || elem.parent().attr('data-oport');
            let oport_detalhes = $('#'+id_oportunidade).children()

            let tipo_oportunidade = $(oport_detalhes[1]).text().toLowerCase()
            let detalhes_vaga = ''

            oport_detalhes.each((i, e)=>{
                detalhes_vaga += '\n'+$(e).text() 
            })
            
            /*Insere email de destino no formulário  */
            $('#to_email').val(email)

            /*Insere assunto padrão do email */
            let assunto = 'Oportunidade de {0} na plataforma SEGUE';
            assunto = assunto.replace('{0}', tipo_oportunidade);
            $('#assunto_email').val(assunto);
            M.updateTextFields();

            /*Insere mensagem padrão do email */
            let msg = 'Olá {0}.\n\nA empresa {1} gostaria de marcar uma entrevista com você '+
            'para uma oportunidade de {2}. Você estaria interessado?\n\nDetalhes da vaga:\n{3}'
            msg = msg.replace('{0}', nome)
            msg = msg.replace('{1}', $('#info_empresa').val());
            msg = msg.replace('{2}', tipo_oportunidade);
            msg = msg.replace('{3}', detalhes_vaga);
            $('#msg_email').text(msg)
            M.textareaAutoResize($('#msg_email'));

            let modal = M.Modal.getInstance(send_email);
            modal.open();
        })
    });
</script>
{% endblock %}