{% extends 'base/base.html'%}

{% load static %}

{% block main %}
<div class="section">

    <div class="row">
        <input type="hidden" id="info_empresa" value="{{empresa.razao_social}}">

        <!-- Título página -->
        <div class="col s12">
            <h1 class="titulo-pagina">Oportunidades Lançadas</h1>
        </div>

        <div class="subtitulo-form col s12">
            <hr>
        </div>

        <div class="row">
            <ul>
                {% for o in oportunidades %}
                <li>
                    <div class="card col s12">
                        <div id="oport_{{o.id}}" class="card-content">
                            <span class="card-title color-sec-2">{{o.titulo}}</span>
                            <div class="grey-text">{{o.tipo.descricao}}</div>
                            <div class="grey-text">{{o.horas_semana}}Hrs/Semana</div>
                            <div class="grey-text">{{o.nivel_necessario.descricao}} - {{o.area_necessaria.descricao}}</div>
                            <div class="grey-text">{{o.cidade}} - {{o.estado}}</div>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'oportunidade:editar' o.id %}">Editar</a>
                            <a href="{% url 'oportunidade:delete' o.id %}">Excluir</a>
                        </div>
                    </div>

                    <div class="row">
                        <ul class="collection" data-oport="{{o}}">
                            {% with n_egresso=o.egressos|length s=o.egressos|length|pluralize%}
                                {% if n_egresso > 0 %}
                                <li class="collection-item center">
                                    <p>Existem n_egresso egresso{{s}} cadastrado{{s}} apto{{s}} para esta oportunidade. </p>
                                </li>
                                {% else %}
                                <li class="collection-item center">
                                    <p>Até o momento nenhum egresso cadastrado está apto para esta oportunidade. </p>
                                </li>
                                {% endif %}
                            {% endwith %}
                        </ul>
                    </div>
                </li>
                {% empty %}
                <li class="col s12">Nenhuma oportunidade foi lançada.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col s12 center">
            <a id="add-oportunidade" href="{% url 'oportunidade:add' %}" class="waves-effect waves-light btn modal-trigger">
                <i class="material-icons left">add_box</i> Nova Oportunidade
            </a>
        </div>

    </div>

</div>

{{ empresa |json_script:"dados-empresa" }}
{% endblock %}

{% block script %}
<script>

    $(document).ready(()=>{

        function mensagemDadosFaltantes(){
            exibirMensagem({
                titulo: 'Atenção',
                descricao: 'Você deve fornecer seus dados básicos primeiro.',
                buttons: [{
                    text: 'Adicionar Agora',
                    href:"{% url 'empresa:editar-dados' %}",
                },{
                    text: 'Ok',
                    href: '#'
                }]
            })
        }

        let empresa = JSON.parse( $('#dados-empresa').text() );

        /* Exibe a mensagem se o usuário ainda não cadastrou os dados básicos.*/
        if( $.isEmptyObject(empresa) )
            mensagemDadosFaltantes()

        $('#add-oportunidade').on('click', (e)=>{
            if( $.isEmptyObject(empresa) ){
                e.preventDefault()
                mensagemDadosFaltantes()
            }
        })
    });
</script>
{% endblock %}